.container-1 {
  text-align: center;
  height: auto;
  width: 50%;
  background-color: #dfd5ea;
  margin-left: 25%;
  border-radius: 0.5rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  font-family: sans-serif;
}

.container-1 h1 {
  text-align: center;
  font-family: sans-serif;
}
table,
td,
tr,
th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: center;
}
